#body{
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 50px;
    margin-left: 50px;
    border-style: groove;
}
.top-pic{
    width: 100%;
}
#div{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: groove;
    border-color: whitesmoke;
    border-width: 0.5px;
}
#footer{
    height: 30px;
    text-align: center;
    color: white;
    background-color: grey;
    width: 100%;
}